body{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 1.4em;
    font-weight: bold;
}

.pull {
    display: block;
}

.subscribe {
    display: block;
}

.hide {
    display: none;
}
