<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bootCampAlarm</title>

    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link th:href="@{/styles/css/index.css}" rel="stylesheet">


</head>
<body>
    <section>
        <h1 class="service-name">부트캠프 메일 신청 (BETA)</h1>
        <span>원하는 옵션을 선택하세요. 둘 다 고르면 메일이 2개 가요.</span>
        <div class="form-wrapper">
            <form action="/testMail" method="POST" class="form checkboxes-form">

                <span id="camp-list-button">선택한 부트캠프의 모든 소식 받기</span>
                <div class="camps-wrapper checkboxes-wrapper hide">
                    <div th:each="camp : ${campList}" class="camp checkbox">
                        <input type="checkbox" th:id="${camp.id}" th:value="${camp.getName()}">
                        <label th:for="${camp.id}" th:text="${camp.getName()}"></label>
                    </div>
                </div>

                <span id="field-list-button">선택한 개발분야로 열리는 부트캠프들의 소식 받기</span>
                <div class="fields-wrapper checkboxes-wrapper hide">

                    <div th:each="field : ${fieldList}" class="field checkbox">
                        <input type="checkbox" th:id="${field.id}" th:value="${field.getName()}">
                        <label th:for="${field.id}" th:text="${field.getName()}"></label>
                    </div>
                </div>
            </form>

            <form action="#" class="email-send-form">
                <input type="email" placeholder="메일 입력" class="mail-input" required>

                <div class="button-wrapper">
                    <button class="pull-button">불러오기</button>
                    <button class="subscribe-button">구독하기</button>
                </div>
            </form>

            <div class="loading"></div>

            <form action="#" class="email-authentication-form hide">
                <input type="text" placeholder="인증번호 입력" class="authentication-input" required>

                <div class="button-wrapper">
                    <button class="authentication-button">인증하기</button>
                    <button class="save-button hide">저장하기</button>
                    <button class="cancel-subscribe-button hide">구독취소</button>
                </div>
            </form>

            <div class="save-alert"></div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script th:src="@{/styles/js/index.js}"></script>
</body>
</html>